@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#C4AE96;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotation-animation {
  animation: rotate 1.5s linear infinite;
}